body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color:rgb(120, 10, 33);
    text-align: center; 
    color: whitesmoke; 
    
}

h1
{
    font-size: 64px;
    color: whitesmoke;
    text-shadow: 7px 7px 0px #3b0707;
}

table
{
    position: relative;
    color: whitesmoke;  
    border: 6px whitesmoke solid;
    border-collapse: collapse;
    box-shadow:5px 5px 5px 0px #2c0707, 5px 5px 15px 5px rgba(78, 6, 6, 0);
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

td.titulo
{
    font-weight: bolder;
    background-image: linear-gradient(top, #bd132f, #af2a44);;
    background-image: linear-gradient(to bottom, #bd132f, #af2a44);  
}

td
{
    background-image: linear-gradient(top, #af2a44, #d4455d);
    background-image: linear-gradient(to bottom, #af2a44, #d4455d);
    font-size: 30px;
    border: 4px whitesmoke solid;
    padding: 10px;
}

.registros
{
    max-width: 400px;
    margin-left: 58%;
    font-size: 22px;
    font-weight: bold;
}

.crearTorneo
{
    float: left;
    margin-left: 29%;
    background:linear-gradient(to bottom, #d93455 5%, #b82b64 100%);
	background-color:#d93455;
	border:4px solid #ffffff;
    border-radius: 0px 20px 0px 20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.crearTorneo:hover
{
    background:linear-gradient(to bottom, #a29399 5%, #fef8fa 100%);
	background-color:#b82b64;
    color: #b82b64;
}

.crearTorneo:active
{
    position:relative;
	top:2px;
    box-shadow:inset 0px 0px 11px 10px #cc75b1;
}
a
{
    text-decoration: none;
    color: azure;
}
.ver:hover
{
    color: #ff64f7;
}

.ver:active
{
    position:relative;
	top:2px;
    box-shadow:inset 0px 0px 11px 10px #cc75b1;
}

.cerrarSesion
{
    position: absolute;
    left: 10px;
    top: 10px;
    background:linear-gradient(to bottom, #d93455 5%, #b82b64 100%);
	background-color:#d93455;
	border:4px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.cerrarSesion:hover
{
    background:linear-gradient(to bottom, #a29399 5%, #fef8fa 100%);
	background-color:#b82b64;
    color: #b82b64;
}

 .cerrarSesion:active
{
    
	top:15px;
    box-shadow:inset 0px 0px 11px 10px #cc75b1;
} 
